.likeContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .Icon{
        cursor: pointer;
        margin: 1rem;
        

       
    }
    .Icon:hover{
        color: gray;
        transition: 0.2s ease-in-out;
    }
    button{
        background-color: transparent;
        border: none;
    }

    .likeContent{
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            font-size: 10px;
            color: black;
            margin-left: -15px;
        }
    }
}
